#certificados {
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  color: var(--text-color);
  font-family: "Audiowide", sans-serif;
}

#certificados h2 {
  margin-bottom: 5%;
}

.cards-certificado {
  perspective: 1000px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

/* texto */
.cards-certificado h2,
.cards-certificado h3 {
  color: var(--text-color);
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.cards-certificado h2 {
  font-size: 1.3rem;
}

.cards-certificado h3 {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.cards-certificado span {
  color: var(--details1);
}

/* CARD */
.card-certificado {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 18rem;
  height: 18rem;
}

/* conteúdo */
.card-certificado img {
  width: 7rem;
}

.card-certificado header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  margin-bottom: 1.5rem;
}

/* FACES */
.card-certificado .front,
.card-certificado .back {
  position: absolute;
  inset: 0;

  backface-visibility: hidden;
  background: #222328;
  border-radius: 0.5rem;
  padding: 2rem 2rem 2.5rem 2.5rem;
  cursor: pointer;
}

/* verso */
.card-certificado .back {
  transform: rotateY(180deg);
  overflow-y: auto;
  scrollbar-width: none;
}
.card-certificado .back::-webkit-scrollbar {
  width: 0;
}
.card-certificado .back:hover::-webkit-scrollbar {
  width: 6px;
}
.card-certificado .back::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 10px;
}

.card-certificado .back::-webkit-scrollbar-track {
  background: transparent;
}

/* INPUT INVISÍVEL */
.cards-certificado input {
  position: absolute;
  scale: 0;
}

/* FLIP REAL */
.cards-certificado input:checked ~ .card-certificado {
  transform: rotateY(180deg);
}

.card-certificado p {
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
  text-align: left;
  overflow-y: auto;
}
@media (min-width: 1280px){
.cards-certificado {
    grid-template-columns: repeat(4, 1fr);
  }
  .card-certificado {
    width: 20rem;
  }
}
@media (max-width: 900px) {
  .card-certificado {
    width: 16rem;
    height: 16rem;
  }
  .card-certificado img {
    width: 6rem;
  }
  .cards-certificado h2 {
    font-size: 1.1rem;
  }
  .cards-certificado p {
    font-size: 0.9rem;
  }
}
@media (max-width: 800px) {
  .cards-certificado {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 540px) {
  .cards-certificado {
    grid-template-columns: repeat(1, 1fr);
  }
}
